<html>
  <head>
    <link rel="stylesheet" href="css/home.css">
    <title>Home Page</title>
  </head>
  <body>
  <div class="container">
      <div id="header">
        <h1>
          Welcome to BeanBrew
        </h1>
      </div>
      <%- yield %>
      <%- include('./partials/_footer.ejs'); %>
    </div>
  </body>
</html>