     <%- include('./partials/_navigation.ejs', {id : "CoffeeBrew"}); %>
      <div id="maincontent">
        <div id="primary">
          <h1>Chemex</h1>
          <p>
            The Chemex is a timeless classic; with its simple yet elegant style it is the perfect coffee table brewer. It is made of non-porous borosilicate glass, which will not absorb odors and is easily cleaned. The Chemex comes in varying styles, classic or hand blown, in sizes suitable for 3-6-8 and 10 cups of coffee with glass or wooden handles.
          </p>
          <p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/UDB1FkOuGs8?start=82" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br/>
            The Chemex remains a staple in every coffee enthusiast's arsenal. Its design has endured, unchanged (wood handle, leather cord, tapered glass and all), since its invention in 1941 by Peter Schlumbohm. Schlumbohm’s designs were characterized as “a synthesis of logic and madness,” and we're inclined to agree. 
          </p>
          
          <p>

          Coffee from a Chemex is very similar to that from a drip, but there’s more room for error. To guarantee the best results, grind your beans more coarsely than you would for a ceramic drip, and offer extra attention to the pour rate. This level of care yields a delicate and nuanced coffee, with plenty left over to share with friends.
          </p>
        </div>
        <div id="secondary">
          <p>
            <img src="./images/chemex.jpg" class="small-center-img ">
          </p>
          <h3>Characteristics</h3>
          <p>
            A well-made Chemex will generally have
            <ul>
              <li>Distinctive sweet taste</li>
              <li>Fruity and floral notes</li>
              <li>Absence of unpleasant bitter substances</li>
            </ul>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>