    <%- include('./partials/_navigation.ejs', {id : "CoffeeBeans"}); %>
      <div id="maincontent">
          <div id="primary">
          <h1>Kenyan Bean Info</h1>
            <table id="tb" style="width:100%">
              <tr>
                <td><h4>Growing Altitude:</h4></td>
                <td>1,700 – 1,800 meters</td>
              </tr>
              <tr><td><h4>Variety: </h4></td>
                  <td>Arabica</td>
              </tr>
              <tr><td><h4> Harvest Period:</h4> </td>
                  <td> November – December</td>
              </tr>
              <tr><td><h4> Milling Process:</h4> </td>
                  <td>Fully Washed, Sun-Dried on Raised Beds</td>
              </tr>
              <tr><td><h4>Aroma:</h4> </td>
                  <td>Fresh, Floral</td>
              </tr>
              <tr><td><h4>Flavor:</h4> </td>
                  <td>Bergamot, Berries, Lemongrass</td>
              </tr>
              <tr><td><h4>Body: </h4></td>
                  <td>Rich, Heavy</td>
              </tr>
               <tr><td><h4>Acidity:</h4> </td>
                   <td>Bright</td>
              </tr>

             </table>
          <h3>Kenya coffee Notes </h3>
          <p>
            The highest premium gourmet coffee is grown on the Kenya highlands. It is full-bodied with pleasant acidity, fragrant aroma, rich flavors infused with floral tones. This has earned it the name “Connoisseurs Cup.” 
          </p>
          <p>
            Even the black currant has quality flavor and aroma. Kenya coffee is among the top five coffee brands in the world because of its distinctive flavors.
          </p>
          <p>
            The enjoyable aftertaste with citrus and berry notes is unique. Its potent sweetness comes after beans are wet-processed. The coffee is not subtle or delicate butt crisp and vibrant. It is compared with the Ethiopian Harrar, but its full body and richness are better than the Ethiopian Coffees. 
          </p>
          <p>
            Each country produces coffees with distinct twists. The best-rated coffees are graded Kenya AA. They have the biggest sides and more aromatic oils. Check out Kenya Coffee Grading.
          </p>
        </div>
        <div id="secondary">
          <p>
            <img src="./images/Kenya.png" class="small-center-img ">
          </p>
        </div>
      </div>
    </div>
  </body>
</html>