    <%- include('./partials/_navigation.ejs', {id : "Blog"}); %>
      <div id="maincontent">
        <div id="primary">
          <h1>New Oomph 2.0</h1>
            <table id="tb2" style="width:100%">
              <tr>
                <th><h4>PROS</h4></th>
                <th><h4>CONS</th>
              </tr>
              <tr><td>Great Coffee on the Go</td>
                  <td>Doesn't Keep Coffee Hot for long</td>
              </tr>
              <tr><td>Simple to Maintain</td>
                  <td> Hard to press</td>
              </tr>
              <tr><td> Durable </td>
                  <td>Hard to get consistant results</td>
              </tr>
             </table>
             <p><img src="./images/Oomph-Portable-Coffee-Maker-Royal-Red-Second.jpg" class="medium-left-img ">
                This week I tried the new Oomph. this is a handy portable coffee brewer for coffee lovers that want that French press style brew on the go.
                I tried it for a full week.
              </p>
              <p>
                If you are like me and like have multiple coffee subscriptions and love trying out new roasts and exotic beans, this is the item for you ! the convienence of the device is something that I have been linging for, for quite some time.
              </p>
              <p>
               No more being late for work because you were brewing a fench press, with Oomph's start of the art brewing mechanism, you can pour in the water, let it brew in the car and then extract finish the breew on your way. the coffee wont over extract as the coffee is seperated from the grinds once filtered through, Genius !
              </p>
        </div>
        <%- include('./partials/_secondary.ejs'); %>
      </div>
    </div>
  </body>
</html>