      <%- include('./partials/_navigation.ejs', {id : "CoffeeBeans"}); %>
      <div id="maincontent">
        <div id="primary">
          <h1>Kenyan Bean Info</h1>
            <table id="tb" style="width:100%">
              <tr>
                <td><h4>Growing Altitude:</h4></td>
                <td>900–2,000 metres </td>
              </tr>
              <tr><td><h4>Variety: </h4></td>
                  <td>Arabica</td>
              </tr>
              <tr><td><h4> Harvest Period:</h4> </td>
                  <td>2 per year: one in autumn and one in spring</td>
              </tr>
              <tr><td><h4> Milling Process:</h4> </td>
                  <td>Fully Washed, Sun-Dried on Raised Beds</td>
              </tr>
              <tr><td><h4>Aroma:</h4> </td>
                  <td>Citrus, Fruits, and Hints of Spice</td>
              </tr>
              <tr><td><h4>Flavor:</h4> </td>
                  <td>Chocolate and softness </td>
              </tr>
              <tr><td><h4>Body: </h4></td>
                  <td>Low-to-Medium</td>
              </tr>
               <tr><td><h4>Acidity:</h4> </td>
                   <td>High</td>
              </tr>

             </table>
          <h3>Colombian coffee Notes </h3>
          <p>
            Colombia is an incredible place to grow coffee, full stop. It comes down to things like the weather (both rain and the overall temperature), the elevation, and the differences in soil that are responsible for the unique flavor profiles in each of the main regions. 
          </p>
          <p>
            The arabica beans play a big factor too, as does the careful harvesting of each bean.
          </p>
          <p>
            There’s no single magic bullet that makes coffee produced in Colombia stand out, which is an interesting parallel to the uniqueness of the farmers who grow it. 
          </p>
          <p>
            It’s a combination of many factors working together that creates this perfect storm, much like the many farmers working together to carry on the tradition and to push the economy forward.
          </p>
        </div>
        <div id="secondary">
          <p>
             <img src="./images/Columbia.png" class="small-center-img ">
          </p>
        </div>
      </div>
    </div>
  </body>
</html>