     <%- include('./partials/_navigation.ejs', {id : "CoffeeBeans"}); %>
      <div id="maincontent">
        <div id="primary">
          <h1>Single Origin Coffee Vs. Blends</h1>
          <p>
            <img src="./images/download.png" class="medium-left-img">
            Comparing single origin coffees and blends is really an apples and oranges type situation. 
            Single origin coffees are praised for their unique tasting notes and nuances, whereas blends are more well-rounded and focus on taste, smell, and mouthfeel (the physical sensation of the coffee in your mouth). <br><br><br></p>
          <p>
            Here are a few key differences between blends and single origin coffees to fill your cup with: 
          </p>
          <h2>Single Origin Coffees</h2>
          
            <ul>
              <li>All beans come from one location (can be a country or region within a country)</li>
              <li> Unique flavors reflect the origin of the beans</li>
              <li>Tastes best without milk</li>
              <li>Often lightly roasted to sustain natural flavor of the bean</li>
              <li>Best as a pour-over or Chemex</li>
              <li>Enjoyed by coffee purists, since flavor of beans stands on its own</li>
              <li>Increasingly used as espresso and drip in trendy, new cafes for its exotic flavor profiles</li>
              <li>Tasting notes by location: Central American coffees (brown sugar, cocoa, and spice flavors), Kenyan (bright, juicy, sweet yet tart), Ethiopian (naturally processed- sweet berry flavor, washed coffees- jasmine or lemongrass)</li>
            </ul>
          
          <h2>Blends</h2>
          <p>
            <ul>
              <li>Beans from a variety of locations that are mixed together</li>
              <li>Smooth, well-rounded taste</li>
              <li>Beans can be blended together before or after roasting</li>
              <li>Tastes good black or with milk</li>
              <li>Mocha-Java is known as one of the world's oldest blends. Back in the day, this blend consisted of one part Mocha coffee to two parts Indonesian Java Arabica coffee. Today, commercial Mocha Java blends use other coffees in place of the Yeman Mocha and Java Arabica²If you're looking for more of a crazy coffee adventure, try a single origin coffee that explodes with a variety of flavors in each sip</li>
            enim.
            </ul>
          </p>
          <p>
            Picking between a single origin coffee or blend is all about preference, so choose your favorite and get to drinking. You're officially in the coffee know.
          </p>
        </div>
        <div id="secondary">
          
            <ol>
           <h3> <li> Flavour profile</li></h3>

            <p>
              A single origin coffee has the most original and unaltered flavour profile, while a coffee blend combines the elements of various beans. Single origins tend to have an exotic taste, are bolder and more robust, while a coffee blend balances it out with different beans that complement each other.
            </p>

           <h3> <li> Purity </li></h3>

            <p>
              Single origin coffee are raved for their purity and high quality, and it tells a story about its origin. Most single origin beans will brew a clean and crisp cuppa coffee, which may not be suitable for a milk-based beverage. On the other hand, coffee blends consist of various blends of different origins.
            </p>

          <h3> <li> Consistency</li></h3>

            <p>
              You may be in for a pleasant surprise every time you buy a pack of single origin coffee! The consistency of these coffees may vary slightly with seasonal conditions. The difference in the taste of the same coffee of different batches will be more pronounced as compared to coffee blends that are more mellowed due to the combination of multiple beans.
             </p> 
          </ol>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>