<%- include('./partials/_navigation.ejs', {id : "CoffeeBrew"}); %>
      <div id="maincontent">
        <div id="primary">
          <h1>Espresso Machine</h1>
          <p>
            An espresso machine brews coffee by forcing pressurized water near boiling point through a "puck" of ground coffee and a filter in order to produce a thick, concentrated coffee called espresso. 
          </p>
          <p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/-kd-zX-JOVU?start=5&modestbranding=1&autohide=1&showinfo=0&controls=0" frameborder="0" allowfullscreen></iframe><br/>
            There are many variables in the process of making a shot of espresso. The temperature of the water, the pressure of the water, the fineness of the ground coffee and how tightly the coffee is packed are just a few. 
          </p>
          
          <p>

           The skilled espresso maker, or barista, controls all of these variables to produce a quality shot of espresso. 
          </p>
        </div>
        <div id="secondary">
          <p>
            <img src="./images/espressomachine.png" class="small-center-img ">
          </p>
          <h3>Characteristics</h3>
          <p>
            A well-made espresso will generally have
            <ul>
              <li>A heavy body</li>
              <li>Rich texture</li>
              <li>Bittersweet taste</li>
              <li>Layer of crema on the surface</li>
            </ul>
          </p>
          
        </div>
      </div>
    </div>
  </body>
</html>