      <%- include('./partials/_navigation.ejs', {id : "index"}); %>
      <div id="maincontent">
        <div id="primary">
          <h1>HomePage</h1>
          <p>
            BeanBrew is a website dedicated to all things Coffee ! 
          </p>
          <p>
            This website will touch on many things coffee related such as coffee beans, their origins, how to create the perfect coffee from each brewing method.
            Also catch my latest blog.
          </p>
          <p>
            This video sets the tone of this website, a fantastic montage of the coffee house experience.
          </p>
          <p>
            <iframe src="https://www.youtube.com/embed/65QnBqZxBJ0?start=6&modestbranding=1&autohide=1&showinfo=0&controls=0" frameborder="0" allowfullscreen>
            </iframe>
          </p>
          
          <p>
            Hopefully this homepage gives you a siductive feeling that lures you in and entrigues you to search further.
          </p>
        </div>
        <%- include('./partials/_secondary.ejs'); %>
      </div>
  </body>
</html>