<div id="secondary">
  <h2>
    Coffee Fact of the Day
 </h2>
  <h3>
   Coffee beans are technically seeds.
  </h3>
    <p><img src="images/64893721.vkpJOubE.2006071416.16.03.jpg" class="small-right-img">
       They're the pits of the cherry-like berries found on the flowering shrubs, but we call them "beans" because of the resemblance to legumes.
    </p>
</div>